<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须是全类名 -->
<mapper namespace="com.wjy.mapper.ProductOrderMapper">
    <select id="getCountByYearAndMonth" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM t_product_order
        WHERE flag = 0
        AND Year(create_time) = #{year}
        AND MONTH(create_time) = #{month}
    </select>
</mapper>